testnet-preview/apps/encoins/logs/*
testnet-preview/apps/encs/blockfrost.token
testnet-preview/apps/encs/logs/*
testnet-preview/data/
testnet-preview/wallets/

testnet-preprod/apps/encoins/logs/*
testnet-preprod/apps/encs/blockfrost.token
testnet-preprod/apps/encs/logs/*
testnet-preprod/data/
testnet-preprod/wallets/

mainnet/apps/encoins/logs/*
mainnet/apps/encs/blockfrost.token
mainnet/apps/encs/logs/*
mainnet/data/
mainnet/wallets/