.history

testnet-preview/apps/cardano-node/node.sock
testnet-preview/apps/encoins/blockfrost.token
testnet-preview/apps/encoins/secrets/*
testnet-preview/apps/encoins/poll*files/*
testnet-preview/apps/encoins/savedResponses/*
testnet-preview/apps/*/logs/*
testnet-preview/apps/verifier/verifierPrvKey.json
testnet-preview/data/
testnet-preview/wallets/*
!testnet-preview/wallets/wallet-example.json
!testnet-preview/wallets/load_wallet.sh

testnet-preprod/apps/cardano-node/node.sock
testnet-preprod/apps/encoins/blockfrost.token
testnet-preprod/apps/encoins/secrets/*
testnet-preprod/apps/*/logs/*
testnet-preprod/apps/encoins/poll*files/*
testnet-preprod/apps/encoins/savedResponses/*
testnet-preprod/apps/verifier/verifierPrvKey.json
testnet-preprod/data/
testnet-preprod/wallets/*
!testnet-preprod/wallets/wallet-example.json
!testnet-preprod/wallets/load_wallet.sh

mainnet/apps/cardano-node/node.sock
mainnet/apps/encoins/blockfrost.token
mainnet/apps/encoins/secrets/*
mainnet/apps/encoins/poll*files/*
mainnet/apps/encoins/savedResponses/*
mainnet/apps/*/logs/*
mainnet/apps/verifier/verifierPrvKey.json
mainnet/data/
mainnet/wallets/*
!mainnet/wallets/wallet-example.json
!mainnet/wallets/load_wallet.sh

