testnet-preview/apps/cardano-node/node.sock
testnet-preview/apps/encs/blockfrost.token
testnet-preview/apps/encoins/secrets/*
testnet-preview/apps/*/logs/*
testnet-preview/data/
testnet-preview/wallets/*
!testnet-preview/wallets/wallet.json
!testnet-preview/wallets/load_wallet.sh
testnet-preview/apps/encs/poll*files/*

testnet-preprod/apps/cardano-node/node.sock
testnet-preprod/apps/encs/blockfrost.token
testnet-preprod/apps/encoins/secrets/*
testnet-preprod/apps/*/logs/*
testnet-preprod/data/
testnet-preprod/wallets/*
!testnet-preprod/wallets/wallet.json
!testnet-preprod/wallets/load_wallet.sh
testnet-preprod/apps/encs/poll*files/*

mainnet/apps/cardano-node/node.sock
mainnet/apps/encs/blockfrost.token
mainnet/apps/encoins/secrets/*
mainnet/apps/*/logs/*
mainnet/data/
mainnet/wallets/*
!mainnet/wallets/wallet.json
!mainnet/wallets/load_wallet.sh
mainnet/apps/encs/poll*files/*
